<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{asset('assets/css/dashboard.css')}}">

    <link rel="stylesheet" href="{{asset('assets/css/fontawesome.min.css')}}">

    {% block stylesheets %}
           
    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
</head>

<body class="text-center">
<div class="container-fluid">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Awesome Videos</h5>
        <a class="nav-link active" href="{{path('app_front')}}"> Go to public site</a>      
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark">Logged as John Smith</a>
        </nav>
        <a class="btn btn-outline-primary" href="{{path('logout')}}">Logout</a>
    </div>

        <div class="row">
                    
            {% block menu %}
                {% include "admin/includes/_menu.html.twig" %}    
            {% endblock %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"><a href="{{path('admin')}}">Dashboard</a></h1>
                </div>
            {% block body %}
            
            {% endblock %}

            </main>
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{asset("assets/js/jquery.js")}}"></script>
<script src="{{asset("assets/js/popper.js")}}"></script>
<script src="{{asset("assets/js/bootstrap.js")}}"></script>


<script>
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        console.log(e.target.files[0]);
        $('.custom-file-label').html(fileName);
    });
</script>
{% block javascripts %}

{% endblock %}
</body>

</html>