
{% extends 'admin/base.html.twig'%}

{% block body %}

{% block title %}Editing category{% endblock %}

<h2>Editing category</h2>
{{ form_start(form,{'attr':{'method':'POST'}})}}
<form action="#" method="POST">
    {{form_widget(form)}}
    <label for="inlineFormCustomSelect">Parent:</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category[parent]">
           {{ render(controller('App\\Controller\\AdminController::getAllCategories',{'editedCategory':category}))}}
    </select>
    <div class="invalid-feedback">
            {{form_errors(form.name)}}
    </div>
    <button class="btn btn-primary mt-3" type="submit">Save</button>

</form>
{{ form_end(form)}}
{% endblock %}